body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    vertical-align: middle;
}

.logo-text {
    font-size: 3rem;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

main {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
    padding-top: 0.5rem;
    text-align: left;
}

.index {
    padding-top: 1.3rem;
    padding-left: 3.5rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.add-button1 {
    color: white;
    background-color: #45abea;
    border-radius: 5px;
    padding: 4px;
}

.add-button2 {
    color: lightgrey;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    padding: 4px;
}

.editorial {
    color: white;
    background-color: #45abea;
    border-radius: 5px;
    padding: 1.2px;
}

.q1-goals {
    color: white;
    background-color: #9c72e4;
    border-radius: 5px;
    padding: 1.2px;
}

.recruiting {
    color: white;
    background-color: #64c0a9;
    border-radius: 5px;
    padding: 1.2px;
}

.mobile {
    color: white;
    background-color: #f29e33;
    border-radius: 5px;
    padding: 1.2px;
}

.sales {
    color: white;
    background-color: #b0c926;
    border-radius: 5px;
    padding: 1.2px;
}

.website {
    color: white;
    background-color: #d863a1;
    border-radius: 5px;
    padding: 1.2px;
}

article {
    margin-bottom: 1.5rem
}

.green{
    color: green;
    border: 1px solid;
    border-radius: 20rem;
}

.red{
    color: red;
    border: 1px solid;
    border-radius: 20rem;
}